#import ("/_cms/formats/_shared/sidebar")

## Mobile Menu
<div class="small-12 addmissions-menu-sec">
    <div class="admissions-burgermenu"><span>$_EscapeTool.xml($currentPage.metadata.title)</span></div>
</div>

<aside class="large-4 medium-5 small-12 columns left-sidebar">
    ## Side Navigation
    #import( "/_cms/formats/side-nav" )

    ## Sidebar Content
    #set( $rows = $currentPage.getStructuredDataNodes("sidebar") )
    #outputSidebar($rows)
</aside>