#macro (outputSidebar $rows)
    <div class="row">
        #foreach( $row in $rows )
            #set( $type = $row.getChild("type").textValue )
            #if( $type == "events" )
                #set($eventBlock = "")
                #set($eventBlock = $row.getChild("block").asset)
                #if(!$_PropertyTool.isEmpty($eventBlock))
                    #import("site://McHenry/_cms/formats/_shared/eventsBlock")
	                #outputEventsBlock($row)
	            #else 
	                #import("/_cms/formats/_shared/events")
    	            #outputEvents($row)
	            #end
            #elseif( $type == "calendar" )
                #set( $category = $row.getChild("category").textValue )
                #set( $page = "" )
                #if( $category == "all" )
                    #set( $page = $_.locatePage("index", "Calendar") )
                #else
                    #set( $page = $_.locatePage("${category}", "Calendar") )
                #end
                #if( !$_PropertyTool.isEmpty($page) )
                    <div class="medium-12 columns">
                        <div class="academic-calender">
                            <span class="float-left"><img src="/_files/img/icon_calendar.png" alt="Calendar" /></span>
                            <div><a href="${page.link}">$_EscapeTool.xml($page.label)</a></div>
                        </div>
                    </div>
                #end
            #elseif( $type == "notice" )
                #set( $wysiwyg = "" )
                #set( $start   = "" )
                #set( $end     = "" )
                #set( $active  = false )
                #set( $title   = $_EscapeTool.xml($row.getChild("title").textValue) ) ## required
                #set( $wysiwyg = $row.getChild("wysiwyg").textValue )
                #set( $start   = $_DateTool.getDate($row.getChild("start").textValue) )
                #set( $end     = $_DateTool.getDate($row.getChild("end").textValue) )
                #set( $now     = $_DateTool.getTime() )
                #if( !$_PropertyTool.isEmpty($start) && $_DateTool.difference($start, $now).minutes >= 0 ) ## display if after start time
                    #set( $active = true )
                #end
                #if( !$_PropertyTool.isEmpty($end) && $_DateTool.difference($now, $end).minutes > 0 ) ## display if before end time
                    #set( $active = true )
                #end
                #if( $_PropertyTool.isEmpty($start) && $_PropertyTool.isEmpty($end) ) ## always display if no start or end time
                    #set( $active = true )
                #end
                #if( $active )
                    <div class="medium-12 columns upcoming-mcc-sec notice-section">
                        <h2><span><img src="/_files/img/icon_notice.png" alt="Notice" /></span> ${title}</h2>
                        <div class="events columns">
                            <div class="cal-info">
                                $!{wysiwyg}
                            </div>
                        </div>
                    </div>
                #end
             #elseif( $type == "conactEnrollment" )
                #set( $contactBlock = $row.getChild("contact-share-block") ) ## get the block chooser
                #set( $wysiwyg = "" )
                #if( !$_PropertyTool.isNull($contactBlock.asset) ) ## if the block chooser is not empty
                 #set( $title   = $_EscapeTool.xml($contactBlock.asset.getStructuredDataNode("title").textValue) )
                  #set( $wysiwyg = $contactBlock.asset.getStructuredDataNode("contact-info").textValue )
                #else
                    #set( $title   = $_EscapeTool.xml($row.getChild("title").textValue) ) ## required
                    #set( $wysiwyg = $row.getChild("wysiwyg").textValue )
                #end
                <div class="medium-12 columns upcoming-mcc-sec recruting-section">
                    <h2>${title} 
                        <a aria-label="More information about enrollment coaching"
                        class="fi-info medium"
                        href="https://www.mchenry.edu/info/"
                        style="color: white; text-decoration: none;"
                        onmouseover="this.style.textDecoration='underline';"
                        onmouseout="this.style.textDecoration='none';">
                        </a>
                    </h2>
                    <div class="events columns">
                        <div class="cal-info">
                            $!{wysiwyg}
                        </div>
                    </div>
                </div>
             #elseif( $type == "contact" )
                #set( $contactBlock = $row.getChild("contact-share-block") ) ## get the block chooser
                #set( $wysiwyg = "" )
                #if( !$_PropertyTool.isNull($contactBlock.asset) ) ## if the block chooser is not empty
                 #set( $title   = $_EscapeTool.xml($contactBlock.asset.getStructuredDataNode("title").textValue) )
                  #set( $wysiwyg = $contactBlock.asset.getStructuredDataNode("contact-info").textValue )
                #else
                    #set( $title   = $_EscapeTool.xml($row.getChild("title").textValue) ) ## required
                    #set( $wysiwyg = $row.getChild("wysiwyg").textValue )
                #end
                <div class="medium-12 columns upcoming-mcc-sec recruting-section">
                    <h2>${title}</h2>
                    <div class="events columns">
                        <div class="cal-info">
                            $!{wysiwyg}
                        </div>
                    </div>
                </div>
             #elseif( $type == "wysiwyg" )
                 #set( $wysiwyg = $row.getChild("wysiwyg").textValue )
                 <div class="medium-12 columns">
                   $!{wysiwyg}
                    </div>
                    #elseif( $type == "transfer" )
                #set ($blockChooser = $row.getChild("transfer"))
                <div class="clearfix"></div>
                <div class="medium-12 columns">
                #if (!$_PropertyTool.isNull($blockChooser.asset) && $blockChooser.asset.blockType == "xml")
                    $blockChooser.asset.XML
                #end
                </div>
            #elseif( $type == "noncredit" )
                #set ($blockChooser = $row.getChild("noncredit"))
                <div class="clearfix"></div>
                <div class="medium-12 columns">
                #if (!$_PropertyTool.isNull($blockChooser.asset) && $blockChooser.asset.blockType == "structureddata")
                    $blockChooser.asset.xHTML
                #end
                </div>
            #elseif( $type == "catalyst" )
                #set ($blockChooser = $row.getChild("catalyst"))
                <div class="clearfix"></div>
                <div class="medium-12 columns">
                #if (!$_PropertyTool.isNull($blockChooser.asset) && $blockChooser.asset.blockType == "structureddata")
                    $blockChooser.asset.xHTML
                #end
                </div>
            #elseif( $type == "nccancellation" )
                #set ($blockChooser = $row.getChild("nccancellation"))
                <div class="clearfix"></div>
                <div class="medium-12 columns">
                #if (!$_PropertyTool.isNull($blockChooser.asset) && $blockChooser.asset.blockType == "structureddata")
                    $blockChooser.asset.xHTML
                #end
                </div>
            #end
        #end
    </div>
#end